# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
env/
venv/
*.env

# System
.DS_Store
Thumbs.db

# Selenium
chromedriver.exe
*.zip

# VSCode / Cursor
.vscode/
*.code-workspace

